@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: 0 auto;
}

.header-title {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-title h1 {
    margin-bottom: 15px;
}

nav {
    background-color: #718293;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;
    margin-top: 15px;
}

.main-content {
    flex-grow: 3;
    padding: 20px;
    background-color: #ecf0f1;
}

.sidebar {
    flex-grow: 1;
    padding: 20px;
    background-color: #bdc3c7;
}

.card {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 80vw;
    margin: 0 auto;
}


