@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 231, 234);
}

ul {
    background: rgb(250, 201, 208);
    list-style-type: none;
}

li {
    display: inline-block;
} 


a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: rgb(218, 134, 148);
    padding: 10px;
}

.dropdonw {
    display: inline-block;
}

.dropbtn {
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.dropdonw-content a {
    color: black;
    display: block;
    border: 1px solid black;
}

.dropdonw-content {
    display: none;
    position: absolute;
}

.dropdonw:hover .dropdonw-content {
    display: block;
}