body {
    background-color:white;
}

h1 {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

header.cabecalho {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
}

nav a {
    font-size: 25px;
    color: gray;
    text-decoration: none;
    margin-right: 15px;
}

figure.gato1 {
    position: relative;
    box-shadow: 5px 5px 6px  gray ;
    opacity: 2px;
    width: 350px;
   }

   figure.gato1 img {
    position: absolute;
    top: 10px;
    
   }